.flickrfeed
{
	background: #fff;
	border: 3px solid #0C5C8A;
	font-family: "lucida grande",lucida,tahoma,helvetica,arial,sans-serif !important;
	color: #000;
}

.flickrheader, .flickrfooter
{
	background: #0C5C8A;
	color: #fff;
	padding: 5px 0 5px 10px;
}

.flickrfooter
{
	text-align: right;
	padding-right: 15px;
}

.flickrheader a
{
	color:#fff;
	font-weight: bold;
	font-size: 1.1em;
	text-decoration: none;
}

.flickrfooter a
{
	color:#fff;
	font-weight: normal;
	font-size: 1em;
	text-decoration: none;
}

.flickrfooter a img
{
	margin: 5px 5px 0 0;
	vertical-align: bottom;
	border: none;
}

.flickrfeed ul
{
	margin: 0px;
	padding: 0px;
	list-style-type: none;
}

.flickrfeed ul li
{
	border-bottom: dotted 1px #ddd;
	padding: 10px 0px 10px 8px;
	line-height: normal;
	font-size: 0.85em;
	float: left;
}

.flickrfeed .reply
{
	color: #666;
}

.flickrfeed p
{
	margin: 1px 0 9px 0;
}

.flickrfeed ul li a
{
	font-weight: normal;
	text-decoration: none;
}

.flickrfeed ul li a:hover
{
	text-decoration: underline;
	color: #0A4672;
}

.flickrfeed .timestamp
{
	margin-bottom: 0px;
	font-size: .9em;
	text-align: right;
}