<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DDay.iCal" version="1.0.2.575" targetFramework="net40" />
  <package id="Telerik.DataAccess.Core" version="2014.2.617.2" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Content" version="7.1.5141.0-beta" targetFramework="net40" />
  <package id="Telerik.Sitefinity.Core" version="7.1.5141.0-beta" targetFramework="net40" />
</packages>